<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>


<fieldset>
    <legend><h3>Users in project</h3></legend>
<c:if test="${programRole.equals('ADMIN') || programRole.equals('MANAGER') || projectRole.equals('PROJECT_MANAGER')}">
    <form name="addUserToProjectButton" action="addUserToProjectForm" method="post">
        <input type="hidden" name="projectId" value="${project.id}"/>
        <input type="submit" name="submit" value="Add new user to project"/>
    </form>
</c:if>
    <c:choose>
        <c:when test="${project.usersInProject.size()==0}">
            <b>There is no users in project yet</b>
        </c:when>
        <c:otherwise>
            <br>
            <table border="1" cellpadding="5">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Project role</th>
                    <th>Action</th>
                </tr>
                <c:forEach items="${project.usersInProject}" var="userInProject">
                    <tr>
                        <td><c:out value="${userInProject.key.name}"/></td>
                        <td><c:out value="${userInProject.key.surname}"/></td>
                        <td><c:out value="${userInProject.value}"/></td>
                        <td>
                            <c:if test="${programRole.equals('ADMIN') || programRole.equals('MANAGER') || projectRole.equals('PROJECT_MANAGER')}">
                                <form name="removeUserFromProjectButton" action="removeUserFromProjectProcess" method="post">
                                    <input type="hidden" name="projectId" value="${project.id}"/>
                                    <input type="hidden" name="userId" value="${userInProject.key.id}"/>
                                    <input type="submit" name="submit" value="Remove form project"/>
                                </form>
                            </c:if>
                        </td>
                    </tr>
                </c:forEach>
            </table>
        </c:otherwise>
    </c:choose>
</fieldset>
<br clear="all"/>